@import 'app/styles/mixins/disable-mob-hover.scss';
@import 'app/styles/mixins/breakpoint.scss';

.myCardsOrderListItem {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;

    position: relative;

    max-width: 188px;
    width: 100%;
    max-height: 15.375rem;

    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);

    @include small-tablet {
        max-width: 16.25rem;
    }

    &::after {
        display: block;
        width: calc(100% - 2px);
        height: calc(100% - 2px);

        border: 1px solid var(--main-color);

        position: absolute;
        top: 1px;
        left: 1px;
        z-index: -2;

        transition: transform 0.3s ease-in-out;

        @include small-tablet {
            content: '';
        }
    }

    @include hover {
        &::after {
            transform: translate(0.75rem, 0.75rem);
        }
    }

    &__top {
        position: relative;

        max-width: 16.25rem;
        width: 100%;
        height: auto;
        aspect-ratio: 260/138;

        padding: 6px 18px;

        @include small-tablet {
            padding-top: 0.875rem;
            padding-right: 0.6875rem;
            padding-bottom: 0.5625rem;
            padding-left: 1.25rem;
        }

        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);

            width: 100%;
            height: 100%;
        }
    }

    &__iconsBlock {
        margin-bottom: 0.625rem;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        & svg {
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    &__categoryList {
        display: flex;
        column-gap: 0.375rem;
    }

    &__citationCounter {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 0.625em;

        font-size: 1rem;
        font-weight: 400;
        color: var(--dark-color);
        text-transform: uppercase;
    }

    &__title {
        margin: 0;

        font-size: 1rem;
        font-weight: 400;
        color: var(--dark-color);
        text-transform: uppercase;

        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__bottom {
        background-color: var(--light-color);
        padding: 10px 18px;
        padding-top: 5px;

        @include small-tablet {
            padding: 1.0625rem 1.25rem;
        }
    }

    &__priceBlock {
        margin-bottom: 10px;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 0.625em;

        font-size: 1rem;
        font-weight: 400;
        color: var(--dark-color);
        text-transform: uppercase;

        @include small-tablet {
            margin-bottom: 1.25em;
        }
    }

    &__price {
        display: flex;
        align-items: center;
        column-gap: 0.625em;

        & svg {
            width: 1.25em;
            height: 1.25em;
        }
    }

    &__date {
        display: flex;
        align-items: center;
        column-gap: 0.625em;

        & svg {
            width: 1.25em;
            height: 1.25em;
        }
    }

    &__btnsBlock {
        display: flex;
        justify-content: space-between;
    }

    &__btnDetail {
        max-width: 71px;
        width: 100%;

        padding: 4px;

        @include small-tablet {
            max-width: 6.25em;
            padding: 0.4375em;
        }
    }
}

.currentCard {
    &::after {
        transform: translate(0.75rem, 0.75rem);
    }
}

.btnResponse {
    position: relative;

    &::before {
        content: '';

        position: absolute;
        top: -0.3125em;
        left: -0.3125em;

        display: block;
        width: 0.625em;
        height: 0.625em;
        background-color: #D9D9D9;
    }
}