# Временные и генерируемые файлы и директории
# Кэш-файлы Python
__pycache__/
.idea
# Конфигурационные файлы Visual Studio Code
.vscode/
# Лог-файлы
*.log
logs/
# Файлы вывода
*.out
# Базы данных
*.db
# Файлы SQLite баз данных
*.sqlite3

# Директории
# Медиа-файлы
media/*

# Файлы с секретными или локальными настройками
# Директория с файлами настроек
.env
.venv/
venv/

*.xlsx