@import 'app/styles/mixins/disable-mob-hover.scss';
@import 'app/styles/mixins/breakpoint.scss';

.searchCard {
    cursor: default;
    grid-column: 2 span;

    box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25);

    max-height: 19rem;
    
    @include small-tablet {
        max-height: 15.375rem;
    }

    @include hover {
        .searchCard__iconsBlock {
            opacity: 0;

        }

        .searchCard__title {
            position: absolute;
            top: 0;
            left: 0;

            padding-top: 0.875rem;
            padding-right: 0.6875rem;
            padding-bottom: 0.5625rem;
            padding-left: 1.25rem;

            min-height: 100%;
            -webkit-line-clamp: unset;
            display: flex;
            align-items: center;

            animation: title 0.9s ease-in-out;
        }
    }

    &__top {
        position: relative;

        width: 100%;
        height: 8.625rem;
        aspect-ratio: 260/138;

        padding-top: 0.875rem;
        padding-right: 0.6875rem;
        padding-bottom: 0.5625rem;
        padding-left: 1.25rem;

        & img {
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
            transform: translate(-50%, -50%);

            width: 100%;
            height: 100%;
        }
    }

    &__iconsBlock {
        opacity: 1;
        margin-bottom: 1.5rem;

        display: flex;
        justify-content: space-between;

        & svg {
            width: 1.25rem;
            height: 1.25rem;
        }

        transition: opacity 0.5s ease-in-out;
    }

    &__title {
        margin: 0;

        font-size: 1rem;
        font-weight: 400;
        color: var(--dark-color);
        text-transform: uppercase;

        display: -webkit-box;
        max-width: 100%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__bottom {
        padding: 0 1.25rem;
        padding-top: 0.9375rem;
        padding-bottom: 1.25rem;
    }

    &__priceBlock {
        margin-bottom: 1.25em;

        display: flex;
        justify-content: space-between;

        font-size: 1rem;
        font-weight: 400;
        color: var(--dark-color);
        text-transform: uppercase;
    }

    &__price {
        display: flex;
        align-items: center;
        column-gap: 0.625em;

        & svg {
            width: 1.25em;
            height: 1.25em;
        }
    }

    &__btnDetail {
        padding: 0.4375em 0.9375em;
    }
}

@keyframes title {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}