@import 'app/styles/mixins/breakpoint.scss';

.myCardsEmpty {

    &__container {
        position: relative;

        padding-top: 232px;
        padding-bottom: 334px;

        @include small-tablet {
            padding-top: 14.875rem;
            padding-bottom: 14.875rem;
        }
    }

    &__title {
        margin: 0;
        margin-bottom: 1.25em;
        text-align: center;

        font-size: 1.3333;
        font-weight: 700;
        color: var(--dark-color);
        text-transform: uppercase;

        @include small-tablet {
            margin-bottom: 1.6667em;

            font-size: 1.5rem;
        }
    }

    &__btn {
        position: relative;
        display: block;

        margin: 0 auto;
        margin-bottom: 27px;

        max-width: 151px;

        border: 1px solid var(--main-color);
        background: var(--light-color);
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

        padding: 48px 34px;

        color: var(--dark-color);

        & svg {
            fill: none;

            width: 80px;
            height: 80px;
        }

        @include small-tablet {
            margin-bottom: 3.25rem;

            max-width: 16.25rem;

            padding: 5.25rem 3.75rem;

            & svg {
                width: 8.6875rem;
                height: 8.6875rem;
            }
        }

        &::after {
            content: '';

            display: block;
            width: calc(100% + 2px);
            height: calc(100% + 2px);

            border: 1px solid var(--main-color);

            position: absolute;
            top: 1px;
            left: 1px;
            z-index: -1;
            transform: translate(0.75rem, 0.75rem);

        }
    }

    &__text {
        margin: 0;
        text-align: center;

        font-size: 1.5rem;
        font-weight: 700;
        color: var(--dark-color);
        text-transform: uppercase;
    }
}