.card {
    max-width: 16.5rem;
    width: 100%;
    height: auto;
    aspect-ratio: 264/307;

    background: var(--light-color);
    box-shadow: 0px 0px 0.25rem 0px rgba(0, 0, 0, 0.25);
}

.top {
    position: relative;
    z-index: 1;

    width: 100%;
    height: 8.625rem;
    aspect-ratio: 260/138;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & img {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%);

        width: 100%;
        height: 100%;
    }
}

.topBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.number {
    padding: 0.1875em 1.0625em;
    background-color: var(--main-color);

    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-color);
    text-transform: uppercase;
}

.deleteBtn {
    color: var(--light-color);

    & svg {
        width: 1.625rem;
        height: 1.625rem;
    }
}

.title {
    margin: 0;

    padding-right: 0.6875em;
    padding-bottom: 0.5625em;
    padding-left: 1.25em;

    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-color);
    text-transform: uppercase;

    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bottom {
    padding: 0.9375rem 1.25rem 1.3125rem;
}

.info {
    margin-bottom: 1.25rem;
}

.infoItem {
    &:not(:last-child) {
        margin-bottom: 0.625em;
    }

    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-color);
    text-transform: uppercase;
}

.price {
    display: flex;
    align-items: center;
    column-gap: 0.625em;

    & svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.infoBtn {
    padding: 0.375em 1.0625em;
}